@page "/create"

@using Apollon.MUD.Prototype.Core.Implementation.Configuration.AvatarConfigs
@using Apollon.MUD.Prototype.Core.Implementation.Item
@using Apollon.MUD.Prototype.Core.Implementation.Room
@using Apollon.MUD.Prototype.Core.Interfaces.Item

<AuthorizeView>
    <Authorized>
        <div class="container-fluid bg-light ">
            <div class="row min-vh-100">
                <nav class="col-md-2 d-none d-md-block bg-secondary sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="create#General">
                                    <span data-feather="home"></span>
                                    Settings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="create#Classes">
                                    Classes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="create#Races">
                                    Races
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="create#Items">
                                    Items
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="create#Rooms">
                                    Rooms
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <h1 class="h2">Dungeon 1</h1>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group mr-2">
                                <button class="btn btn-sm btn-outline-secondary">Invite</button>
                            </div>
                        </div>
                    </div>
                    <section class="General" id="General">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </form>
                    </section>

                    <section class="Classes w-75 mt-3" id="Classes">
                        <h2>Classes</h2>
                        <form class="@NewClassValidation">
                            <div class="d-flex">
                                <select class="form-select" aria-label="Default select example" @bind="ClassValues[0]" @onclick="ClassSelectionChanged">
                                    @if (!(Classes is null))
                                    {
                                        @foreach (var avatarClass in Classes)
                                        {
                                            <option selected value="@avatarClass.Name">@avatarClass.Name</option>
                                        }
                                    }
                                </select>
                                <input type="button" class="btn btn-primary ms-2" @onclick="AddClassButton" value="New" />
                            </div>

                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control text" placeholder="Name" @bind="ClassValues[0]" required>
                                <div class="invalid-feedback">Try giving it a name</div>
                                <div class="valid-feedback">Sounds good!</div>
                            </div>
                            <div class="form-group">
                                <label>Damage</label>
                                <input type="number" class="form-control" placeholder="Damage" @bind="ClassValues[1]" required>
                                <div class="invalid-feedback">Damage is required, it has to be a whole number!</div>
                                <div class="valid-feedback">Looking good!</div>
                            </div>
                            <div class="form-group">
                                <label>Health</label>
                                <input type="number" class="form-control" placeholder="Health" @bind="ClassValues[2]" required>
                                <div class="invalid-feedback">Health is required, it has to be a whole number!</div>
                                <div class="valid-feedback">Looking good!</div>
                            </div>
                            <div class="form-group">
                                <label>Protection</label>
                                <input type="number" class="form-control" placeholder="Protection" @bind="ClassValues[3]" required>
                                <div class="invalid-feedback">Protection is required, it has to be a whole number!</div>
                                <div class="valid-feedback">Looking good!</div>
                            </div>
                            <div class="text-end">
                                <input type="button" class="btn btn-primary mt-2" @onclick="SaveClassButton" value="Save" />
                            </div>
                        </form>
                    </section>

                    <section class="Races w-75 mt-3" id="Races">
                        <h2>Races</h2>
                        <form class="@NewRaceValidation">
                            <div class="d-flex">
                                <select class="form-select" aria-label="Default select example" @bind="RaceValues[0]" @onclick="RaceSelectionChanged">
                                    @if (!(Classes is null))
                                    {
                                        @foreach (var avatarRace in Races)
                                        {
                                            <option selected value="@avatarRace.Name">@avatarRace.Name</option>
                                        }
                                    }
                                </select>
                                <input type="button" class="btn btn-primary ms-2" @onclick="AddRaceButton" value="New" />
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control text" placeholder="Name" @bind="RaceValues[0]" required>
                                <div class="invalid-feedback">Try giving it a name</div>
                                <div class="valid-feedback">Sounds good!</div>
                            </div>
                            <div class="form-group">
                                <label>Damage</label>
                                <input type="number" class="form-control" placeholder="Damage" @bind="RaceValues[1]" required>
                                <div class="invalid-feedback">Damage is required, it has to be a whole number!</div>
                                <div class="valid-feedback">Looking good!</div>
                            </div>
                            <div class="form-group">
                                <label>Health</label>
                                <input type="number" class="form-control" placeholder="Health" @bind="RaceValues[2]" required>
                                <div class="invalid-feedback">Health is required, it has to be a whole number!</div>
                                <div class="valid-feedback">Looking good!</div>
                            </div>
                            <div class="form-group">
                                <label>Protection</label>
                                <input type="number" class="form-control" placeholder="Protection" @bind="RaceValues[3]" required>
                                <div class="invalid-feedback">Protection is required, it has to be a whole number!</div>
                                <div class="valid-feedback">Looking good!</div>
                            </div>
                            <div class="form-group">
                                <label for="ClassDescriptionControl">Description</label>
                                <textarea class="form-control" id="ClassDescriptionControl" rows="3" @bind="RaceValues[4]" required></textarea>
                                <div class="invalid-feedback">A description is required, try being as detailled as possible</div>
                                <div class="valid-feedback">Thats awesome!</div>
                            </div>
                            <div class="text-end">
                                <input type="button" class="btn btn-primary mt-2" @onclick="SaveRaceButton" value="Save" />
                            </div>
                        </form>
                    </section>

                    <section class="Items w-75 mt-3" id="Items">
                        <h2>Items</h2>
                        <form class="@NewItemValidation">
                            <div class="d-flex">
                                <select class="form-select" aria-label="Default select example" @bind="ItemValues[0]" @onclick="ItemSelectionChanged">
                                    @if (!(Items is null))
                                    {
                                        @foreach (var roomItem in Items)
                                        {
                                            <option selected value="@roomItem.Name">@roomItem.Name</option>
                                        }
                                    }
                                </select>
                                <input type="button" class="btn btn-primary ms-2" @onclick="AddItemButton" value="New" />
                            </div>
                            <label>Type</label>
                            <select class="form-select" aria-label="Default select example" @bind="ItemValues[1]" required>
                                <option selected value="Consumable">Consumable</option>
                                <option selected value="Inspectable">inspectable</option>
                                <option selected value="Pickable">Pickable</option>
                            </select>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control text" placeholder="Name" @bind="ItemValues[0]" required>
                                <div class="invalid-feedback">Try giving it a name</div>
                                <div class="valid-feedback">Sounds good!</div>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" rows="3" @bind="ItemValues[2]" required></textarea>
                                <div class="invalid-feedback">A description is required, try being as detailled as possible</div>
                                <div class="valid-feedback">Thats awesome!</div>
                            </div>
                            <div class="form-group">
                                @if (ItemValues[1] == "Consumable")
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Positive Effect
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" disabled>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Negative Effect
                                        </label>
                                    </div>
                                }
                                else if (ItemValues[1] == "Pickable")
                                {
                                    <label>Weight</label>
                                    <input type="number" class="form-control" placeholder="Weight" @bind="ItemValues[3]" required>
                                    <div class="invalid-feedback">weight is required, it has to be a whole number!</div>
                                    <div class="valid-feedback">Looking good!</div>
                                }
                            </div>
                            <div class="text-end">
                                <input type="button" class="btn btn-primary mt-2" @onclick="SaveItemButton" value="Save" />
                            </div>
                        </form>
                    </section>


                    <section class="Rooms w-75 mt-3" id="Rooms">
                        <h2>Rooms</h2>
                        <form class="@NewRoomValidation">
                            <div class="d-flex">
                                <select class="form-select" aria-label="Default select example" @bind="RoomValues[0]" @onclick="RoomSelectionChanged">
                                    @if (!(Rooms is null))
                                    {
                                        @foreach (var room in Rooms)
                                        {
                                            <option selected value="@room.RoomId">@room.RoomId</option>
                                        }
                                    }
                                </select>
                                <input type="button" class="btn btn-primary ms-2" @onclick="AddRoomButton" value="New" />
                            </div>
                            <div class="form-group">
                                <label>Room-ID</label>
                                <input type="number" class="form-control text" placeholder="Name" @bind="RoomValues[0]" required>
                                <div class="invalid-feedback">Try giving it a name</div>
                                <div class="valid-feedback">Sounds good!</div>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" id="ClassDescriptionControl" rows="3" @bind="RoomValues[1]" required></textarea>
                                <div class="invalid-feedback">A description is required, try being as detailled as possible</div>
                                <div class="valid-feedback">Thats awesome!</div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-2">
                                    <label>North</label>
                                </div>
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example" @bind="RoomValues[2]">
                                        <option selected value="0">Nothing</option>
                                        @if (!(Rooms is null))
                                        {
                                            @foreach (var room in Rooms)
                                            {
                                                @if (!(room.RoomId.ToString().Equals(RoomValues[0])))
                                                {
                                                    <option selected value="@room.RoomId">@room.RoomId</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-2">
                                    <label>East</label>
                                </div>
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example" @bind="RoomValues[3]">
                                        <option selected value="0">Nothing</option>
                                        @if (!(Rooms is null))
                                        {
                                            @foreach (var room in Rooms)
                                            {
                                                @if (!(room.RoomId.ToString().Equals(RoomValues[0])))
                                                {
                                                    <option selected value="@room.RoomId">@room.RoomId</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-2">
                                    <label>South</label>
                                </div>
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example" @bind="RoomValues[4]">
                                        <option selected value="0">Nothing</option>
                                        @if (!(Rooms is null))
                                        {
                                            @foreach (var room in Rooms)
                                            {
                                                @if (!(room.RoomId.ToString().Equals(RoomValues[0])))
                                                {
                                                    <option selected value="@room.RoomId">@room.RoomId</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-2">
                                    <label>West</label>
                                </div>
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example" @bind="RoomValues[5]">
                                        <option selected value="0">Nothing</option>
                                        @if (!(Rooms is null))
                                        {
                                            @foreach (var room in Rooms)
                                            {
                                                @if (!(room.RoomId.ToString().Equals(RoomValues[0])))
                                                {
                                                    <option selected value="@room.RoomId">@room.RoomId</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="text-end">
                                <input type="button" class="btn btn-primary mt-2" @onclick="SaveRoomButton" value="Save" />
                            </div>
                        </form>
                    </section>

                    <section class="Submit w-75 mt-3" id="Submit">
                        <div>
                            <input type="button" class="btn btn-success btn-lg w-100" value="Submit Dungeon" />
                        </div>
                    </section>
                </main>

            </div>
        </div>
    </Authorized>

    <NotAuthorized>
        <div class="alert alert-danger" role="alert">
            You need to be logged in to see this page.<a href="Identity/Account/Login" class="alert-link">Login</a>
        </div>
    </NotAuthorized>
</AuthorizeView>
@code {
}
